* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: raleway, Arial, Helvetica, sans-serif;
}
html, body {
    background-color: black;
    color: white;
}
.banner {
    display: flex;
    height: 605px;
    background-image: url(../images/banner.png), linear-gradient(to bottom, black , #0B212B, black);
    border-bottom: 1px solid #1A546E;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .banner-content{
    display: flex;
    width: Hug(510px);
    height: Hug(393px);
    flex-direction: column;
    align-items: center;
    border: 3px solid blue;
    margin: 50px auto;
}
.banner > .banner-content > .logo {
    
    width: 214px;
    height: 214px;
    display: flex;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.253);
    align-items: center;
    border-radius: 300px;
}
.banner > .banner-content > h1 {
    color: #1E84C3;
    font-size: 40px;
    text-transform: uppercase;
}
.modules-list{
    height: 605px;
}
#transform-world{
    height: 605px;
    background-image: url(../images/woman-code.png);
    background-size: cover;
}
#professional-challenges{
    height: 605px;
        position: relative;

}