* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    background-color: black;
    color: white;
}
.banner {
    display: flex;
    height: 605px;
    background-image: url(../images/banner.png), linear-gradient(to bottom, black , #0B212B, black);
    border-bottom: 1px solid #1A546E;
    background-repeat: no-repeat;

}
.banner .banner-content{
    display: flex;
    width: Hug(510px);
    height: Hug(393px);
    flex-direction: column;
    align-items: center;
    border: 3px solid blue;
    margin: 0px auto;
}
.banner > .banner-content > .logo {
    width: 268px;
    height: 268px;
    display: flex;
    margin: 50px;
    border: 3px solid red;
    align-items: center;
    border-radius: 200px;
    box-shadow: 10px 10px 10px black;
}
.banner > .banner-content > h1 {
    color: #1E84C3;
    font-family: ;
}