* {
    margin: 0px;
    box-sizing: border-box;
    font-family: raleway, Arial, Helvetica, sans-serif;
}
html, body {
    background-color: black;
    color: white;
}
.banner {
    height: 600px;
    background-image: url(../images/banner.png), linear-gradient(to bottom, rgba(0, 0, 0, 0.6) , rgba(49,168,221,.2), rgba(0, 0, 0, 0.6));
    border-bottom: 1px solid #33a8db80;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .banner-content{
    display: flex;
    width: Hug(510px);
    height: Hug(393px);
    flex-direction: column;
    align-items: center;
    border: 3px solid blue;
    margin: 50px auto;
}
.banner > .banner-content > .logo {
    width: 268px;
    height: 268px;
    margin: auto;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 16px;
    border-radius: 50%;
}
.banner > .banner-content > .logo > img {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.banner > .banner-content > h1 {
    color: #1E84C3;
    font-size: 40px;
    text-transform: uppercase;
}
.modules-list{
    height: 605px;
}
#transform-world{
    height: 605px;
    background-image: url(../images/woman-code.png);
    background-size: cover;
}
#professional-challenges{
    height: 605px;
        position: relative;

}